*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.demo-wrapper {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.backgrounds {
  width: 100vw;
  height: 100vh;
  -webkit-transition: -webkit-transform ease 0.8s;
  transition: -webkit-transform ease 0.8s;
  transition: transform ease 0.8s;
  transition: transform ease 0.8s, -webkit-transform ease 0.8s;
}

.bg {
  width: 100%;
  height: 100%;
  padding: 1px;
}

.bg-1 {
  background: url("light.jpg");
  background-size: cover;
  background-position: center;
}
.bg-1 row a{
    width:30vw;
    height:30vh;
}
.bg-2 {
  background: url("tv.jpg");
  background-size: cover;
  background-position: center;
}

.bg-3 {
  background: url("room.png");
  background-size: cover;
  background-position: center;
}

.bg-4 {
  background: url("green.jpg");
  background-size: cover;
  background-position: center;
}



h1 {
  color: white;
  font-family: Raleway, sans-serif;
  line-height: 100vh;
  font-size: 10rem;
  text-align: center;
  font-weight:500;
}